
.botones{
    background:#8cc63f !important;
    border: 1px solid #8cc63f !important;
    width:100%;
}
.botones:hover{
    background:#61892c !important;
    border: 1px solid #61892c !important;
}